.task-title {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    color: #1363DF;
}


.col {
    border: 2px solid #06283D;
    border-radius: 10px;
    margin-top: 25px;
    padding: 20px;
    width: 15vw;
    background-color: #f2f4f67c;
}